body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #feffff, #5af6f6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

    
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 350px;
}

h2 {
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    transition: background 0.3s ease;
}

button:hover {
    background: #1d4ed8;
}

#message {
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
